@import '../../sass_globals/variables';

%error {
  color: $error_color;
  border: 1px solid $error_color;
  border-radius: $global_radius;
  background: lighten($error_color, 32%);
}
.primary {
  @extend %error;

  padding:7px 10px;
  font-size: 15px;
  font-weight: 700;
}

.secondary {
  @extend %error;

  font-size: 14px;
  padding:3px 6px;
}