@import '../../sass_globals/variables';

$color: #fff;

.block {
  width: 100%;
  background: $theme_background;
  color: $color;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $main_width;
  height: 80px;
  margin: 0 auto;
  padding:0 $main_offset;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  color: $accent_color;
}

.link {
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  color: $color;

  &:hover {
    color: $accent_color;
  }
}